* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	background-color: black;
	height: 100vh;
	position: relative;
}
h1,
h2,
h3,
p {
	color: white;
}
button {
	padding: 10px;
	border-radius: 25px;
}
button:hover {
	cursor: pointer;
}

/* STYLE HEADER */
header {
	background: linear-gradient(0deg, darkred, red);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	width: 100%;
	padding: 0px 20px;
}
header a {
	text-decoration: none;
}

header h2 {
	font-size: 3em;
}

/* STYLE MAIN */
main {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	padding: 50px 0px;
	overflow-y: scroll;
	background: linear-gradient(180deg, black, rgb(39, 39, 39));
}

.event {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 50%;
	background-color: rgb(59, 59, 59);
	border-radius: 25px;
	padding: 30px;
	height: 300px;
	gap: 20px;
}
.event-img {
	flex-direction: column;
	width: 30%;
}
.event-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	width: 50%;
	height: 200px;
	overflow-y: auto;
	text-align: justify;
}
.event button {
	width: fit-content;
}

.form {
	border: 2px solid white;
	display: flex;
	flex-direction: column;
	width: 500px;
	height: fit-content;
	border-radius: 25px;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding: 30px 0px;
	box-shadow: 0px 0px 10px white;
}
.form label {
	color: white;
}
.form a {
	color: red;
}

input {
	padding: 10px;
	border-radius: 25px;
	width: 80%;
}

img {
	height: 250px;
	width: 250px;
	border-radius: 50%;
}

footer {
	background: linear-gradient(0deg, darkred, red);
	position: absolute;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10vh;
}
