* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	background-color: black;
	height: 100vh;
	position: relative;
}
h1,
h2,
h3,
p {
	color: white;
}
button {
	padding: 10px;
	border-radius: 25px;
}
button:hover {
	cursor: pointer;
}

/* STYLE HEADER */
header {
	background-color: red;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	width: 100%;
	padding: 0px 20px;
}

/* STYLE MAIN */
main {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	padding: 50px 0px;
}

.event {
	display: flex;
	flex-direction: row;
	width: 70%;
	background-color: rgb(59, 59, 59);
	border-radius: 25px;
	padding: 30px;
	height: fit-content;
}
.event-img {
	flex-direction: column;
	width: 10%;
}
.event-text {
	flex-direction: column;
	width: 90%;
	text-align: justify;
}
/* STYLE TEMPORAIRE */
img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.modal {
	background-color: green;
	display: none;
}
footer {
	background-color: red;
	position: absolute;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10vh;
}
